<div>
  <ng-container *ngIf="currentConditionsByZip().length">
    <app-tabs (tabRemoved)="locationService.removeLocation($event)" [selectedTabTemplate]="currentCondition" idProperty="zipcode">
      <app-tab
        *ngFor="let tab of currentConditionsByZip()"
        [tabTitle]="tab.displayName"
        [template]="currentCondition"
        [data]="{ data: tab.data, zipcode: tab.zip }"
      >
      </app-tab>
    </app-tabs>
  </ng-container>

  <ng-template #currentCondition let-data="data">
    <app-current-condition [location]="data.data" [zipcode]="data.zipcode"></app-current-condition>
  </ng-template>
</div>
